@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.alert1 {
  width: calc(60% - 20px);
  margin-left: 20%;
  background-color: rgb(200, 100, 100);
  border-radius: 10px;
  animation: fadeInDown 0.3s;
  color: rgb(244,244,244);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 10px;
}